mixin proficiency-bonus(bonus)
    h2 Proficency Bonus Increase
    p Your proficiency bonus is now #{bonus}.

mixin cantrips(number, clazz)
    h2 New Cantrips
    p You learn #{number} new cantrips from the #{clazz} spell list.

mixin spell-slots(spellSlots)
    h2 New Spell Slots
    each number, level in spellSlots
        p You have now #{number} total spell slots of level #{level}.

mixin spells(number, clazz)
    h2 New Spells
    p
        | You learn #{number} new spells from the #{clazz} spell list.
        | Each of these spells must be of a level for which you have
        | spell slots.
