include mixins.pug

doctype html
html
    head
    body
        form(method='get', action='/')
            label(for='class') Class:
            input#class(name='class', type='text', value=name)
            label(for='level') Level:
            input#level(name='level', type='number', value=level)
            input(type='submit', value='Go!')

        h2 Hit Dice Increase
        p You add 1d#{hitDieNumber} to your hit dice.

        h2 Hit Points Increase
        p
            | Your maximum hit points increase by 1d#{hitDieNumber}
            | (or #{hitPointIncreaseAverage}) + your Constitution modifier.

        if ['5', '9', '13', '17'].includes(level)
            include proficiency-bonus.pug

        block description